{% layout "../Shared/_layout.html" %}
<article>
    <h1>{{ Model.Title }}</h1>
    <main>
        <p>{{ Model.Content }}</p>
    </main>
    <footer>
        <em>{{ Model.PublishedAt | date: '%+' }}</em> &mdash;
        <span>{{ Model.AuthorName }}</span>
    </footer>
</article>
