{% layout "../Shared/_layout.html" %}
<section>
    <h1>Posts</h1>
    {% for post in Model -%}
    <article>
        <h2><a href={{ post.Uri }}>{{ post.Title }}</a></h2>
        <p>
            <em>{{ post.PublishedAt | date: '%+' }}</em> &mdash;
            <span>{{ post.Summary }}</span>
        </p>
    </article>
    {%- endfor %}
</section>
