{% layout "../Shared/_layout.html" %}
<section>
    <h1>Posts</h1>
    {% for post in Model -%}
    <article>
        <h2>{{ post.Title }}</h2>
        <p>
            <em><a href="{{ post.Uri }}">{{ post.PublishedAt | date: '%+' }}</a></em> &mdash;
            <span>{{ post.Summary }}</span>
        </p>
    </article>
    {%- endfor %}
</section>
